
html,
body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

.inner-center {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.new-arrivals__item--red {
  color: #ff0036;
}

.new-arrivals__item--blue {
  color: #00b8b8;
}

.page-header__info {
  width: 100%;
  height: 46px;
  background-color: #31353d;
  color: #d7d7d7;
  font-size: 10px;
}

.page-header__contacts {
  display: flex;
  width: 285px;
  align-items: center;
  margin: 0;
}

.page-header__contacts span {
  margin-left: 12px;
  margin-right: 12px;
}

.page-header__choice span {
  margin-left: 12px;
  margin-right: 12px;
}

.page-header__choice {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  width: 285px;
  align-items: center;
  margin: 0;
}

.header-choice span {
  margin-left: 12px;
  margin-right: 12px;
}

.page-header__choice select {
  color: #ffffff;
  cursor: pointer;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 5px;
}

#language-choice option,
#currency-choice option {
  background-color: #000000;
  color: #ffffff;
}

.page-header__menu {
  width: 100%;
  height: 65px;
}

.page-header--center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.main-logo {
  position: relative;
  width: 285px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  letter-spacing: -0.075em;

}



.main-logo span {
  position: absolute;
  top: -10%;
  left: 35%;
  color: #00c8c8;
}

.header-nav {
  width: 600px;
}

.user-menu {
  width: 285px;
}

.header-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-nav__item {
  display: flex;
  align-items: center;
  height: 65px;
}


.header-nav__item a {
  display: flex;
  align-items: center;
  height: 65px;
  vertical-align: middle;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #464646;
  box-sizing: border-box;
  border: 4px solid rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
}

.header-nav__item a:hover,
.header-nav__item a:focus {
  border-bottom: 4px solid #464646;
  color: black;
}

.header-nav__item a:active {
  opacity: 0.6;
}

.user-menu__list {
  display: flex;
  font-size: 11px;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
}

.user-menu__item img {
  margin-right: 24px;
  transition-duration: 0.3s, 0.2s;
  transition-property: opacity, transform;
}

.user-menu__item img:hover,
.user-menu__item img:focus {
  opacity: 0.6;
}

.user-menu__item img:active {
  transform: scale(1.1);
}

.user-menu__shopping-cart img {
  margin-right: 10px;
}

.ad-top {
  position:relative;
  display: flex;
  width: 100%;
  height: 630px;
  margin: 0;
  padding: 0;
  background-color: #96dbc9;
  background-image: url(img/background-ad-top.jpg);
  background-position: center;
  background-repeat: no-repeat;
}



.ad-top__inner--position {
  position: relative;
}

.ad-top__inner{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 115px;
  top: 138px;
  z-index: 1;
  width: 470px;
}



.ad-top__text--style-1 {
  margin-bottom: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.072em;
  color: #31415c;
}

.ad-top__text--style-2 {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 72px;
  color: #31415c;
}

.ad-top__text--style-3 {
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #252525;
}

.open-more {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer;
}

.open-more::after {
  display: block;
  margin-left: 6px;
  width: 5px;
  height: 8px;
  background-image: url(img/Arrow_Right.png);
  content: "";
}

.open-more:hover,
.open-more:focus {
  opacity: 0.7;
}

.open-more:active {
  opacity: 0.5;
}

.main-info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 95px;
  margin: 0;
  padding: 0;
}

.main-info__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-info li {
  position: relative; 
  width: 270px;
  margin: 0;
  margin-right: 30px;
  padding-left: 70px;
  box-sizing: border-box;
}

.main-info__advantage--font-style h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.075em;
  color: #252525;
}

.main-info__advantage--font-style {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.075em;
  color: #898989;
}

.main-info__shipping::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Shiping.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.main-info__list h3 {
  text-transform: uppercase;
}

.main-info__support::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Support.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.main-info__return::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Return.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.main-info__payment::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Payment.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.new-arrivals {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  height: 690px;
  margin-bottom: 30px;
}

.new-arrival--left {
  align-items: flex-end;
  background-image: url(img/ShirtForBoysBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.new-arrival--right {
  background-image: url(img/ShirtForGirlsBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.arrival__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 570px;
  height: 400px;
}

.new-arrivals__shoes-collection {
  position: relative;
  width: 1170px;
  height: 260px;
  background-image: url(img/ShoesCollectionBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.new-arrivals__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #252525;
}

.new-arrivals__arrival {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
  order: -1;
}

.new-arrival__link {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.new-arrivals__price {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
}

.new-arrivals__short-description {
  height: 116px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 36px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  letter-spacing: 0.075em;
  color: #636363;
}

.new-arrival__item--left {
  margin-right: 15px;
  align-items: flex-end;
}

.new-arrival__item--right {
  margin-left: 15px;
  align-items: flex-start;
}

.new-arrivals__item--right {
  text-align: right;
}

.left {
  text-align: left;
}

.new-arrivals__shoes-collection--link {
  position: absolute;
  top: 60px;
  left: 70px;
  display: flex;
  flex-direction: column;
}

.shoes-collection__title {
  margin: 0;  
  margin-bottom: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -0.050em;
  line-height: 36px;
  color: #00c8c8;
}

.shoes-collection__text {
  margin: 0;
  padding: 0;
}

.shoes-collection__text--style-1 {
  order: -1;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 14px;
  color: #f7941d;
}

.shoes-collection__text--style-2 {
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #636363;
}

.main-title__block-title--underline {
  border-bottom: 1px solid #252525;
}

.main-title__block-title {
  flex-grow: 1;
  font-size: 24px;
  font-weight: 500;
  color: #252525;
}

.title-wrapper {
  display: flex;
  align-items: center;
  height: 84px;
  margin: 0;
  padding: 0;
}

.main-title__block-title--small-title {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #636363;
}

.main-title__block-title--small-title:hover,
.main-title__block-title--small-title:focus {
  box-shadow: 0 1px 0px 0px #636363;
}

.main-title__block-title--small-title:active{
  opacity: 0.6;
  box-shadow: 0 1px 0px 0px #636363;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products-list li {
  display: flex;
  width: 270px;
  height: 415px;
  margin-bottom: 30px;
}

.products-list__items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 415px;
  margin: 0;
  padding: 0;
}
  
.products-list__item-1{
  background-image: url(img/AbominableHoodie.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.products-list__item-2 {
  position: relative;
  background-image: url(img/HollisterBackyardSweatshirt.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.products-list__item-hot::after {
  position: absolute;
  top: -21px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 50px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ff0000;
  background-color: #ffff00;
  transform: rotate(90deg);
  transform-origin: left bottom;
  content: "hot"
}

.products-list__item-3 {
  background-image: url(img/OsloTrekHoodie.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.products-list__item-4 {
  background-image: url(img/MachStreetSweatshirt.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.products-list__item-new::after {
  position: absolute;
  top: -21px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 50px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00c8c8;
  transform: rotate(90deg);
  transform-origin: left bottom;
  content: "new"
}

.products-list__item-5 {
  background-image: url(img/BackyardSweatShirt.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.products-list__item-sale::after {
  position: absolute;
  top: -21px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 50px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ed1c24;
  transform: rotate(90deg);
  transform-origin: left bottom;
  content: "sale"
}

.products-list__item-6 {
  background-image: url(img/FadedShortSleeves.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.products-list__item-7 {
  background-image: url(img/OsloTrekHoodieMen.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.products-list__item-8 {
  background-image: url(img/LeatherSneakers.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.pop-up {
  position: absolute;
  top: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
  background-color: #ffffff;
  opacity: 0;
  transition-duration: 0.8s;
  transition-property: opacity;
}

.wishlist-card-btn {
  margin: 0 28px;
}

.products-list__items:hover .pop-up {
  opacity: 0.95;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn img {
  transition-duration: 0.3s, 0.2s;
  transition-property: opacity, transform;
}

.btn:hover img,
.btn:focus img{
  opacity: 0.6;
}

.btn:active img {
  transform: scale(1.1);
}

.product-name {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 300px;
  letter-spacing: 0.05em;
  color: #555555;
}

.product-price {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #252525;
}

.product-price del {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #898989;
}

.poduct-link {
  opacity: 1;
}

.product-name:hover,
.poduct-name:focus {
  opacity: 0.6;
}

.product-name:active {
  opacity: 1;
}

.ad-bottom {
  width: 1170px;
  height: 200px;
  margin: 20px auto 30px auto;
  background-color: #2f4ba0;
  background-image: url(img/BackgroundAdBottom.jpg);
}

.ad-bottom__inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 576px;
  padding: 0;
}

.ad-bottom__text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
}

.ad-bottom__text--style-4:hover,
.ad-bottom__text--style-4:focus {
  opacity: 0.7;
}

.ad-bottom__text--style-4:active {
  opacity: 1;
}

.ad-bottom__text--style-1 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ad-bottom__text--style-2 {
  width: 398px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2em;
  color: #252525;
  background-color: #ffffff;
}

.ad-bottom__text--style-3 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 60px;
}

.ad-bottom__text--style-4 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.1em;
  color: #636363;
}

.about-mstore {
  background-color: #96dbc9;
  background-image: url(img/bgWeLoveMstore.jpg);
  background-repeat: no-repeat;
  background-position: right;
  
  height: 400px;
  box-shadow: inset 0 0 0 1px pink;
}

.about-mstore__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 62px;
  align-items: center;
  width: 415px;
  height: 268px;
  margin-left: 85px;
}

.about-mstore__title {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #31353d;
}

.about-mstore__title::before {
  position: absolute;
  top: 48px;
  left: 112px;
  width: 50px;
  height: 0px;
  border: 1px solid #5a6273;
  content: "";
}

.about-mstore__text {
  margin: 35px 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #31353d;
}

.best-sellers__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.page-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 506px;
  margin: 0;
  padding: 0;
  background-image: url(img/bgSaleSidebar.jpg);
}

.best-sellers {
  width: 870px;
  margin: 0;
  padding: 0;
}

.page-sidebar__link {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 100px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: underline;
  color: #252525;
}

.page-sidebar__link:hover,
.page-sidebar__link:focus {
  text-decoration: none;
  opacity: 0.7;
}

.page-sidebar__link:active {
  opacity: 1;
}

.page-sidebar__title {
  margin-top: 22px;
  font-family: "BigNoodleTitling", "Arial", sans-serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #00c8c8;
}

.page-sidebar__text {
  margin: 0;
  padding: 0;
  font-family: "BigNoodleTitling", "Arial", sans-serif;
  font-size: 72px;
  letter-spacing: 0;
  color: #00c8c8;
  opacity: 0.5;
}

.blog-post {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 430px;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.blog-post__title {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #252525;
}

.blog-post__info {
  display: flex;
  width: 100%;
  height: 14px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 10px;
  letter-spacing: 0.05em;
  color: #636363;
}




.blog-post__date {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.blog-post__date::before {
  width: 12px;
  height: 14px;
  margin: 0;
  margin-right: 7px;
  background-image: url(img/BlogCal.jpg);
  background-position: 0 -1.5px;
  background-repeat: no-repeat;
  content: " ";
}

.blog-post__comment {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.blog-post__comment::before {
  width: 12px;
  height: 14px;
  margin: 0;
  margin-right: 7px;
  margin-left: 25px;
  background-image: url(img/BlogCom.jpg);
  background-repeat: no-repeat;
  content: " ";
}

.blog-post__text {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.075em;
  color: #898989;
}

.blog-post__wrapper {
  margin: 0;
  margin-left: 8px;
  padding: 0;
}

.email-subscription {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #3b3c39;
  background-image: url(img/EmailBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.email-subscription-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 8px;
  padding: 0;
}

.email-subscription__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  color: #ffffff;
}

.email-subscription__email {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.email-subscription__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.email-subscription__input {
  width: 670px;
  height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}

.email-subscription__buttom {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  padding:5px 15px; 
  background-color:#00c8c8; 
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.email-subscription__buttom:hover,
.email-subscription__buttom:focus {
  background-color: #00dede;
}

.email-subscription__buttom:active {
  background-color:#00c8c8;
}

.footer-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 370px;
  padding-left: 35px;
  box-sizing: border-box;
  background-color: #31353d;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.075em;
  color: #868686;
}

.footer-about__logo {
  margin-top: 45px;
  margin-bottom: 20px;
  color: white;
}

.footer-wrapper {
  width: 100%;
  background-color: #363a42;
}




.social-networks__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  margin-right: 20px;
  transition-duration: 0.4s, 0.2s;
  transition-property: opacity, transform;
}

.social-networks__item:hover {
  opacity: 0.5;
}

.social-networks__item:active {
  transform-origin: 50% 50%;
  transform: rotate(360deg);
}



.footer-about__text {
  width: 290px;
  margin: 0;
  margin-bottom: 36px;
}



.footer-about__contacts--white {
  color: #e1e1e1;
}

.footer-informations {
  width: 785px;
  height: 400px;
  padding-left: 30px;
}

.footer-page__inner {
  display: flex;
}

.footer-information__title {
  margin-top: 60px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-information__list {
  height: 260px;
  width: 375px;
  margin-top: 52px;
  list-style-position: inside;
  column-count: 2;
}

.footer-information__list li {
  font-size: 12px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.075em;
}

.footer-information__list a {
  color: #cccccc;
}

.footer-information__list a:hover {
  color: #d9bcbc;
  text-decoration: underline;
}

.footer-information__list a:active {
  color: #978282;
}

.footer-information__list a:visited {
  color: #a76161;
}

.footer-information__inner {
  display: flex;
}

.footer-information__map {
  height: 280px;
  width: 400px;
  margin-top: 14px;
}





.social-networks-list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 45px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 45px;
}

.ad__inner--position {
  position: relative;
}
