html,
body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

.inner-center {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.red {
  color: #ff0036;
}

.blue {
  color: #00b8b8;
}

.header-info {
  width: 100%;
  height: 46px;
  background-color: #31353d;
  color: #d7d7d7;
  font-size: 10px;
}

.header-contacts {
  display: flex;
  width: 285px;
  align-items: center;
  margin: 0;
}

.header-contacts > span {
  margin-left: 12px;
  margin-right: 12px;
}

.header-choice {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  width: 285px;
  align-items: center;
  margin: 0;
}

.header-choice > span {
  margin-left: 12px;
  margin-right: 12px;
}

.header-choice > select {
  color: #ffffff;
  cursor: pointer;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 5px;
}

#language-choice option,
#currency-choice option {
  background-color: #000000;
  color: #ffffff;
}

.main-user-nav {
  width: 100%;
  height: 65px;
}

.header-center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.main-logo {
  width: 285px;
  margin: 0;
  padding: 0;
}

.main-logo > p {
  position: relative;
  font-family: "Ancuu", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.075em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.main-logo > p::after {
  position: absolute;
  top: 29px;
  left: 88px;
  content: " ";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #00c8c8;
}

.header-nav {
  width: 600px;
}

.user-menu {
  width: 285px;
}

.header-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-nav-list > li {
  display: flex;
  align-items: center;
  height: 65px;
}


.header-nav-list > li > a {
  display: flex;
  align-items: center;
  height: 65px;
  vertical-align: middle;
  font-size: 14px;
  text-decoration: none;
  color: #464646;
  box-sizing: border-box;
  border: 4px solid rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: color;
}

.header-nav-list li a:hover,
.header-nav-list li a:focus {
  border-bottom: 4px solid #464646;
  color: black;
}

.header-nav-list li a:active {
  opacity: 0.6;
}

.user-menu-list {
  display: flex;
  font-size: 11px;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
}

.user-menu-list img {
  margin-right: 24px;
  transition-duration: 0.3s, 0.2s;
  transition-property: opacity, transform;
}

.user-menu-list img:hover,
.user-menu-list img:focus {
  opacity: 0.6;
}

.user-menu-list img:active {
  transform: scale(1.1);
}

.user-menu-list .shopping-cart img {
  margin-right: 10px;
}

.ad-top {
  position:relative;
  display: flex;
  width: 100%;
  height: 630px;
  margin: 0;
  padding: 0;
  background-color: #96dbc9;
  background-image: url(img/background-ad-top.jpg);
  background-position: center;
  background-repeat: no-repeat;
}



.ad-center {
  position: relative;
}

.ad-top-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 115px;
  top: 138px;
  z-index: 1;
  width: 470px;
  height: 332px;

}

.ad-top-text > p {
  margin: 0;
  padding: 0;
}

.ad-top-text p:nth-child(1) {
  margin-bottom: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.072em;
  color: #31415c;
}

.ad-top-text p:nth-child(2) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: -0.05em;
  line-height: 72px;
  color: #31415c;
}

.ad-top-text p:nth-child(3) {
  margin-top: 16px;
  margin-bottom: 26px;
  font-size: 14px;
  font-style: italic;
  color: #252525;
}

.open-more {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  font-size: 10px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #111111;
}

.open-more::after {
  position: absolute;
  top: 18%;
  left: 85px;
  width: 5px;
  height: 8px;
  background-image: url(img/Arrow_Right.png);
  content: " ";
}

.open-more:hover,
.open-more:focus {
  opacity: 0.7;
}

.open-more:active {
  opacity: 0.5;
}

.sopping-support-retum {
  display: flex;
  align-items: center;
  width: 100%;
  height: 95px;
  margin: 0;
  padding: 0;
}

.sopping-support-retum-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sopping-support-retum-list > li {
  position: relative;
  width: 270px;
  margin: 0;
  margin-right: 30px;
  padding-left: 70px;
  box-sizing: border-box;
}

.sopping-support-retum-list .advantage > h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.075em;
  color: #252525;
}

.sopping-support-retum-list .advantage > p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.075em;
  color: #898989;
}

.shipping::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Shiping.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.support::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Support.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.return::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Return.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.payment::before {
  position: absolute;
  top: 0;
  left: 0px;
  width: 70px;
  height: 100%;
  background-image: url(img/Payment.png);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.new-arrivals {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  height: 690px;
  margin-bottom: 30px;
}

.new-arrival-left {
  align-items: flex-end;
  background-image: url(img/ShirtForBoysBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.new-arrival-right {
  background-image: url(img/ShirtForGirlsBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.arrival-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 570px;
  height: 400px;
}

.shoes-collection {
  position: relative;
  width: 1170px;
  height: 260px;
  background-image: url(img/ShoesCollectionBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.new-arrivals-title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #252525;
}

.arrivals {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
  order: -1;
}

.link-to-item {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.price {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
}

.short-description {
  height: 116px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 36px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  letter-spacing: 0.075em;
  color: #636363;
}

.item-left {
  margin-right: 15px;
  align-items: flex-end;
}

.item-right {
  margin-left: 15px;
  align-items: flex-start;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.shoes-collection-link {
  position: absolute;
  top: 60px;
  left: 70px;
  display: flex;
  flex-direction: column;
}

.shoes-collection-link > p {
  margin: 0;  
  padding: 0;
}

.shoes-collection-title {
  margin: 0;  
  margin-bottom: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -0.050em;
  line-height: 36px;
  color: #00c8c8;
}

.shoes-collection-link p:nth-of-type(1){
  order: -1;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 14px;
  color: #f7941d;
}

.shoes-collection-link p:nth-of-type(2) {
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #636363;
}

.underline {
  border-bottom: 1px solid #252525;
}

.block-title {
  flex-grow: 1;
  font-size: 24px;
  font-weight: 500;
  color: #252525;
}

.block-for-title {
  display: flex;
  align-items: center;
  height: 84px;
  margin: 0;
  padding: 0;
}

.small-title {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #636363;
}

.small-title:hover,
.small-title:focus {
  box-shadow: 0 1px 0px 0px #636363;
}

.small-title:active{
  opacity: 0.6;
  box-shadow: 0 1px 0px 0px #636363;
}



.feauture-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.feauture-product-list > li {
  display: flex;
  width: 270px;
  height: 415px;
  margin-bottom: 30px;
}

.feauture-product-list .items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 415px;
  margin: 0;
  padding: 0;
}
  
.feauture-product-list > li .item-1{
  background-image: url(img/AbominableHoodie.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.item-2 {
  position: relative;
  background-image: url(img/HollisterBackyardSweatshirt.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.item-2::after {
  position: absolute;
  top: -21px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 50px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ff0000;
  background-color: #ffff00;
  transform: rotate(90deg);
  transform-origin: left bottom;
  content: "hot"
}

.item-3 {
  background-image: url(img/OsloTrekHoodie.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.item-4 {
  background-image: url(img/MachStreetSweatshirt.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.item-4::after {
  position: absolute;
  top: -21px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 50px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00c8c8;
  transform: rotate(90deg);
  transform-origin: left bottom;
  content: "new"
}

.item-5 {
  background-image: url(img/BackyardSweatShirt.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.item-5::after {
  position: absolute;
  top: -21px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 50px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ed1c24;
  transform: rotate(90deg);
  transform-origin: left bottom;
  content: "sale"
}

.item-6 {
  background-image: url(img/FadedShortSleeves.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.item-7 {
  background-image: url(img/OsloTrekHoodieMen.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.item-8 {
  background-image: url(img/LeatherSneakers.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.pop-up {
  position: absolute;
  top: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
  background-color: #ffffff;
  opacity: 0;
  transition-duration: 0.8s;
  transition-property: opacity;
}

.pop-up .wishlist-card-btn {
  margin: 0 28px;
}

.items:hover .pop-up {
  opacity: 0.95;
}

.pop-up > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.pop-up > button img {
  transition-duration: 0.3s, 0.2s;
  transition-property: opacity, transform;
}

.pop-up > button:hover img,
.pop-up > button:focus  img{
  opacity: 0.6;
}

.pop-up > button:active img {
  transform: scale(1.1);
}

.product-name {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 300px;
  letter-spacing: 0.05em;
  color: #555555;
}

.product-price {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #252525;
}

.product-price del {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #898989;
}

.poduct-link {
  opacity: 1;
}

.product-name:hover,
.poduct-name:focus {
  opacity: 0.6;
}

.product-name:active {
  opacity: 1;
}

.ad-bottom {
  width: 1170px;
  height: 200px;
  margin: 20px auto 30px auto;
  background-color: #2f4ba0;
  background-image: url(img/BackgroundAdBottom.jpg);
}

.ad-bottom-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 576px;
  padding: 0;
}

.ad-bottom-text > p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
}

.ad-bottom-text > a:hover,
.ad-bottom-text > a:focus {
  opacity: 0.7;
}

.ad-bottom-text > a:active {
  opacity: 1;
}

.ad-bottom-text .ad-bottom-text-item-1 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ad-bottom-text .ad-bottom-text-item-2 {
  width: 398px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2em;
  color: #252525;
  background-color: #ffffff;
}

.ad-bottom-text-item-3 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 60px;
}

.ad-bottom-text-item-4 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #636363;
}

.about-mstore {
  background-color: #96dbc9;
  background-image: url(img/bgWeLoveMstore.jpg);
  background-repeat: no-repeat;
  background-position: right;
  
  height: 400px;
  box-shadow: inset 0 0 0 1px pink;
}

.about-mstore-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 415px;
  height: 268px;
  margin-left: 85px;
}

.about-mstore-title {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #31353d;
}
